<h2>My Players</h2>

<div>
    <label>Player name:</label>
    <input #playerName />

    <select #club ngModel>
        <option value="" disabled>Choose a club</option>
        <option *ngFor="let club of clubs" [ngValue]="club">
            {{ club.name }}
        </option>
    </select>

    <!-- investigate how to reset the club checkbox -->
    <button class="btn-primary" (click)="add(playerName.value, club.value); playerName.value=''; club.value=''">
        Add
    </button>
</div>
<div class="row">
    <div class="players col-sm-12">
      <div *ngFor="let player of players" (click)="onSelect(player)"
          [class.selected]="player === selectedPlayer">

        <span class="badge">{{player.id}}</span>
        <span>{{player.name}} Club: {{player.club.name}}</span>
        <button class="delete" (click)="delete(player); $event.stopPropagation()">x</button>
      </div>
    </div>
</div>
<div *ngIf="selectedPlayer">
  <h2>
    {{selectedPlayer.name | uppercase}} is my player
  </h2>
  <button class="btn-primary" (click)="gotoDetail()">View Details</button>
</div>
